{% extends 'index.html'%}
{% load staticfiles %}
{% block loginForm%}
  <div>
    <form name="loginForm" action="{% url 'logout' %}" 
      method="POST" enctype="application/json">
      {% csrf_token %}
      <label>{{username}}</label>
      <input type="submit" value="Logout" id="analytics"/>
    </form>
  </div>
{% endblock %}

{%block content%}
<link rel="stylesheet" type="text/css" href="{% static "css/chatGround.css" %}">
<div class="chatground-container">
  <h2>ChatGround</h2>
  <div class="chatground-body">
    <div class="chatground-users">
      {% block availableUsers%}
      {% endblock %}
    </div>
    <div class="chatground-space">
      {% block chatSpace%}
      {% endblock %}
    </div>
  </div>
</div>
{% endblock%}